.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content {
    flex: 1;
    padding: 20px;
    margin-bottom: 60px; /* Adjust for footer height */
    padding-right: 10%;
    padding-left: 10%;
  }
  